.navigation {
    background: var(--ion-color-primary);
    .toggle_icon {
        font-size: 48px;
        color:var(--ion-color-primary-shade);
        display: inline-flex;
        transform: scale(1, 1.4);
    }
    .tiny_logo {
        width: 40px;
        height: 40px;
        display: inline-flex;
    }
    ion-button {
        height: 100%;
        margin: 0;
        flex: 1;
        font-size: 18px;
        color: var(--ion-color-primary-shade);
        --border-radius: 0;
        border-left: 2px solid var(--ion-color-primary-tint);
        min-height: 60px;
        ion-icon {
            color: var(--ion-color-shade);
        }
    }
    ion-button.ion-activated {
        --background-activated: var(--ion-color-secondary);
        --background-focused: var(--ion-color-secondary);
        --background-hover: var(--ion-color-secondary);
    }
}