<ion-row class="navigation">
  <ion-col size="6" class="ion-align-items-center d-flex p-0">
    <ion-icon class="toggle_icon ion-margin-start ion-margin-end" name="menu-outline"></ion-icon>
    <ion-img class="tiny_logo" src="./../../assets/imgs/tiny_logo.png"></ion-img>
  </ion-col>
  <ion-col size="6" class="d-flex p-0 ion-justify-content-end">
    <ion-button>
      <ion-icon name="mail"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="notifications"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon name="person"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>