.login_page_container {
    --background: #f2f2f2;
    .logo {
        max-width: 200px;
        margin:25px auto;
        display: flex;
        align-items: center;
    }
    .login_icon_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // margin: 15px 0;
        .login_icon {
            width: 30px;
        }
        .login_text {
            font-size:22px;
            margin-top:5px;
            font-family: "Lato-Bold";
        }
    }
    .login_form_container {
        padding: 0 25px;
        .login_form {
            .form_field {
                border-bottom: 1px solid #a6a6a6;
                margin-top:20px;
                font-family: "Lato-Light";
                font-size: 14px;
            }
            .forgot_password_container {
                text-align: center;
                margin:10px 0 25px 0;
                .forgot_password_link {
                    color: var(--ion-color-secondary);
                    text-decoration: underline;
                    font-family: "Lato-Regular";
                    font-size: 14px;
                }
            }
            .login_button {
                width: 100%;
                --background: var(--ion-color-primary);
                --border-radius:0;
                color:#fff;
                margin-top:0;
                margin-bottom:15px;
                font-family: "Lato-Light";
                font-size: 20px;
                min-height: 50px;
            }
            .signup_button {
                width: 100%;
                color:#000;
                border:1px solid var(--ion-color-primary);
                --background: transparent;
                --border-radius:0;
                margin-top:0;
                margin-bottom:0;
                font-family: "Lato-Light";
                font-size: 20px;
                min-height: 50px;
            }
        }
        .seperator {
            color:#484848;
            position:relative;
            display: flex;
            align-items: center;
            margin:25px 0;
            span {
                flex: 1;
                text-align: center;
                font-family: "Lato-Light";
            }
            &:before {
                content:"";
                display: block;
                height: 1px;
                width: 30%;
                background-color: #d2d1d1;
            }
            &:after {
                content:"";
                display: block;
                height: 1px;
                width: 30%;
                background-color: #d2d1d1;
            }
            
        }
        .social_login {
            ion-button {
                width:100%;
                color:#000;
                --background: transparent;
                --border-radius:0;
                margin-top:0;
                margin-bottom:20px;
                font-family: "Lato-Bold";
                min-height: 50px;
                ion-img {
                    width:25px;
                    margin-right:auto;
                }
                ion-text {
                    flex:1;
                }
            }
            .facebook {
                border:1px solid #4267b2;
            }
            .google {
                border:1px solid #f14336;
            }
            .twitter {
                border:1px solid #50abf1;
            }
        }
    }

    .ion-activated {
        --background-activated: transparent;
        --background-focused: transparent;
        --background-hover: transparent;
    }
}