<ion-content class="login_page_container">
    <div class="logo">
      <ion-img class="logo_image" src="./../../assets/imgs/logo-inverse.png"></ion-img>
    </div>
    <div class="login_icon_container">
      <ion-img class="login_icon" src="./../../assets/imgs/login_icon.png"></ion-img>
      <ion-text class="login_text">LOGIN</ion-text>
    </div>

    <div class="login_form_container">
      <div class="login_form">
        <ion-input class="form_field" placeholder="Username"></ion-input>
        <ion-input class="form_field" placeholder="Password"></ion-input>
      
        <div class="forgot_password_container">
          <ion-router-link class="forgot_password_link">Forgot Password ?</ion-router-link>
        </div>

        <ion-button class="login_button">LOGIN</ion-button>
        <ion-button class="signup_button" routerLink="/register">SIGNUP</ion-button>
      </div>

      <div class="seperator"> <span>or sign in with</span> </div>

      <div class="social_login">
        <ion-button class="facebook">
          <ion-img src="./../../assets/imgs/facebook.png"></ion-img> 
            <ion-text>Facebook</ion-text>
          </ion-button>
        <ion-button class="google">
          <ion-img src="./../../assets/imgs/google.png"></ion-img> 
          <ion-text>Google</ion-text>
        </ion-button>
        <ion-button class="twitter">
          <ion-img src="./../../assets/imgs/twitter.png"></ion-img> 
          <ion-text>Twitter</ion-text>
        </ion-button>
      </div>
    </div>

</ion-content>
