// ion-tabs {
    ion-tab-bar {
        min-height: 65px;
        --background: var(--ion-color-secondary-tint);
        ion-tab-button {
            ion-img {
                width:25px;
            }
            ion-label {
                color: var(--ion-color-secondary-shade);
                font-family: "Lato-Bold";
                font-size: 12px;
                margin-top:5px;
            }
        }
        .center_route_button {
            border-left:1px solid var(--ion-color-primary-contrast);
            border-right:1px solid var(--ion-color-primary-contrast);
        }
    }
// }