<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/login">
    <ion-img src="./../../assets/imgs/notebook.png"></ion-img>
    <ion-label>DIRECTORY</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/login" class="center_route_button">
    <ion-img src="./../../assets/imgs/pencil.png"></ion-img>
    <ion-label>START PROJECT</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/login">
    <ion-img src="./../../assets/imgs/support.png"></ion-img>
    <ion-label>SUPPORT</ion-label>
  </ion-tab-button>
</ion-tab-bar>