
<ion-content [fullscreen]="false" no-bounce class="splash_container">
    <ion-img class="logo" src="./../../assets/imgs/logo.png"></ion-img>
    <div class="black_screen">
      <div class="loader_text">LOADING</div>
      <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="overall_d" [ngClass]="{'splash-fade-out':liloader}" style="background:url('./../../assets/imgs/main.jpg') no-repeat center center">
      
    </div>
</ion-content>
