@font-face {
    font-family: "Lato-Black";
    src: url("./../assets/fonts/Lato-Black.ttf");
}
@font-face {
    font-family: "Lato-BlackItalic";
    src: url("./../assets/fonts/Lato-BlackItalic.ttf");
}
@font-face {
    font-family: "Lato-Bold";
    src: url("./../assets/fonts/Lato-Bold.ttf");
}
@font-face {
    font-family: "Lato-BoldItalic";
    src: url("./../assets/fonts/Lato-BoldItalic.ttf");
}
@font-face {
    font-family: "Lato-Italic";
    src: url("./../assets/fonts/Lato-Italic.ttf");
}
@font-face {
    font-family: "Lato-Light";
    src: url("./../assets/fonts/Lato-Light.ttf");
}
@font-face {
    font-family: "Lato-LightItalic";
    src: url("./../assets/fonts/Lato-LightItalic.ttf");
}
@font-face {
    font-family: "Lato-Regular";
    src: url("./../assets/fonts/Lato-Regular.ttf");
}
@font-face {
    font-family: "Lato-Thin";
    src: url("./../assets/fonts/Lato-Thin.ttf");
}
@font-face {
    font-family: "Lato-ThinItalic";
    src: url("./../assets/fonts/Lato-ThinItalic.ttf");
}
