<ion-content class="register_page_container">
  <div class="logo">
    <ion-img class="logo_image" src="./../../assets/imgs/logo-inverse.png"></ion-img>
  </div>
  <div class="register_icon_container">
    <ion-img class="register_icon" src="./../../assets/imgs/register_icon.png"></ion-img>
    <ion-text class="register_text">REGISTER</ion-text>
  </div>

  <div class="register_form_container">
    <div class="register_form">
      <ion-select class="form_field" placeholder="Select One" value="Select One">
        <ion-select-option value="">Project Owner</ion-select-option>
        <ion-select-option value="">Contractor</ion-select-option>
        <ion-select-option value="">SKSI Staff</ion-select-option>
        <ion-select-option value="">Lender</ion-select-option>
        <ion-select-option value="">Project Manager</ion-select-option>
        <ion-select-option value="">HVAC Contractor</ion-select-option>
        <ion-select-option value="">Investor</ion-select-option>
        <ion-select-option value="">Tenant</ion-select-option>
        <ion-select-option value="">Other (Advisor / Friend)</ion-select-option>
        <ion-select-option value="">Architects & Drafters</ion-select-option>
        <ion-select-option value="">Engineers</ion-select-option>
        <ion-select-option value="">Designers</ion-select-option>
        <ion-select-option value="">Realtors</ion-select-option>
        <ion-select-option value="">Plans & Permits</ion-select-option>
      </ion-select>
      <ion-input class="form_field" placeholder="Enter Your Profile Name"></ion-input>
      <ion-input class="form_field" placeholder="Enter Your Email"></ion-input>
      <ion-input class="form_field" placeholder="Enter your Password"></ion-input>
      <ion-input class="form_field" placeholder="Confirm Password"></ion-input>
      <div class="forgot_password_container">
        <ion-router-link class="forgot_password_link" routerLink="/login">Already have an account?</ion-router-link>
      </div>
      <ion-button class="register_button">REGISTER</ion-button>
      <!-- <ion-button class="signup_button">SIGNUP</ion-button> -->
    </div>

    <div class="seperator"> <span>or sign in with</span> </div>

    <div class="social_login">
      <ion-button class="facebook">
        <ion-img src="./../../assets/imgs/facebook.png"></ion-img> 
          <ion-text>Facebook</ion-text>
        </ion-button>
      <ion-button class="google">
        <ion-img src="./../../assets/imgs/google.png"></ion-img> 
        <ion-text>Google</ion-text>
      </ion-button>
      <ion-button class="twitter">
        <ion-img src="./../../assets/imgs/twitter.png"></ion-img> 
        <ion-text>Twitter</ion-text>
      </ion-button>
    </div>
  </div>

</ion-content>
